*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: azure;

}


.titulo{
    color: rgb(35, 57, 55);
    font-family: 'BioRhyme Expanded', serif;
    font-size: 360%;   
    text-align: center;
    padding: 5%;

}

.section{

    display: flex;
    
    margin-left: 15%;
    flex-direction: column;
    margin-left: 0%;
}

.titulo1{
    font-size: 600%;
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(50, 51, 51);

     padding: 5%;
    background-color: rgb(179, 249, 99);
   
    
}

.titulo1{
    font-size: 600%;
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(50, 51, 51);
     padding: 5%;
    background-color: rgb(179, 249, 99);
   
    
}

.titulo2{
    font-size: 600%;
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(50, 51, 51);
    padding: 5%;
    background-color: rgb(255, 119, 51);
   
    
}


.titulo3{
    font-size: 600%;
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(50, 51, 51);
    padding: 5%;
    background-color: rgb(179, 161, 255);
   
    
}

.titulo4{
    font-size: 600%;
    font-family: 'BioRhyme Expanded', serif;
    color: rgb(50, 51, 51);
  
     padding: 5%;
    background-color: rgb(179, 249, 99);
   
    
}
