


.body{
    background-color: rgb(219, 240, 135);
}


.contenedor{

    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
   background-image: url(FOTOS/flores3.png);
   background-size: 100%;
    justify-content: center;
    height: 600px;

}

.titulo{
  margin-top: 6%;
    color: rgb(0, 0, 0);
    font-size: 320%;
    font-family: 'IBM Plex Mono', monospace;


}

.paginas{

    text-decoration: none;
    font-size: 200%;
    color: rgb(255, 0, 0);
    font-family: 'IBM Plex Mono', monospace;
   
    
    
}


/*IPAD*/

@media (max-width: 768px) {

    .contenedor{
        background-size: 200%;
        

    }
    .titulo{
        font-size: 260%;
    }


    .paginas{
        font-size: 120%;
        
        

    }
}

/*IPhone*/

@media (max-width: 600px){

    .contenedor{
        background-size: 200%;
        

    }

    .titulo{
        font-size: 220%;
    }

    .paginas{
        font-size: 130%;
        
        

    }

}
